In [1]:
purchases = spark.read.parquet('/tmp/purchases')

In [2]:
purchases.show()

+------+-----------------+---------------+--------------+--------------------+
|Accept|             Host|     User-Agent|    event_type|           timestamp|
+------+-----------------+---------------+--------------+--------------------+
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:36:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:36:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:36:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:36:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:36:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:36:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:36:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:36:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:36:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:36:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:38:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:38:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:38:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:38:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:38:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:38:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:38:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:38:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:38:...|
|   */*|    user2.att.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:38:...|
+------+-----------------+---------------+--------------+--------------------+

In [3]:
purchases.registerTempTable('purchases')

In [4]:
purchases_by_example2 = spark.sql("select * from purchases where Host = 'user1.comcast.com'")

In [5]:
purchases_by_example2.show()

+------+-----------------+---------------+--------------+--------------------+
|Accept|             Host|     User-Agent|    event_type|           timestamp|
+------+-----------------+---------------+--------------+--------------------+
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:36:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:36:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:36:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:36:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:36:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:36:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:36:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:36:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:36:...|
|   */*|user1.comcast.com|ApacheBench/2.3|purchase_sword|2018-07-26 22:36:...|
+------+-----------------+---------------+--------------+--------------------+

In [6]:
df = purchases_by_example2.toPandas()

In [7]:
df.describe()

,Accept,Host,User-Agent,event_type,timestamp
count,10,10,10,10,10
unique,1,1,1,1,10
top,*/*,user1.comcast.com,ApacheBench/2.3,purchase_sword,2018-07-26 22:36:27.759
freq,10,10,10,10,1

In [8]:
joinguilds = spark.read.parquet('/tmp/joinguilds')

In [9]:
joinguilds.show()

+------+-----------------+---------------+----------+--------------------+
|Accept|             Host|     User-Agent|event_type|           timestamp|
+------+-----------------+---------------+----------+--------------------+
|   */*|user1.comcast.com|ApacheBench/2.3|join_guild|2018-07-26 22:37:...|
|   */*|user1.comcast.com|ApacheBench/2.3|join_guild|2018-07-26 22:37:...|
|   */*|user1.comcast.com|ApacheBench/2.3|join_guild|2018-07-26 22:37:...|
|   */*|user1.comcast.com|ApacheBench/2.3|join_guild|2018-07-26 22:37:...|
|   */*|user1.comcast.com|ApacheBench/2.3|join_guild|2018-07-26 22:37:...|
|   */*|user1.comcast.com|ApacheBench/2.3|join_guild|2018-07-26 22:37:...|
|   */*|user1.comcast.com|ApacheBench/2.3|join_guild|2018-07-26 22:37:...|
|   */*|user1.comcast.com|ApacheBench/2.3|join_guild|2018-07-26 22:37:...|
|   */*|user1.comcast.com|ApacheBench/2.3|join_guild|2018-07-26 22:37:...|
|   */*|user1.comcast.com|ApacheBench/2.3|join_guild|2018-07-26 22:37:...|
|   */*|    user2.att.com|ApacheBench/2.3|join_guild|2018-07-26 22:39:...|
|   */*|    user2.att.com|ApacheBench/2.3|join_guild|2018-07-26 22:39:...|
|   */*|    user2.att.com|ApacheBench/2.3|join_guild|2018-07-26 22:39:...|
|   */*|    user2.att.com|ApacheBench/2.3|join_guild|2018-07-26 22:39:...|
|   */*|    user2.att.com|ApacheBench/2.3|join_guild|2018-07-26 22:39:...|
|   */*|    user2.att.com|ApacheBench/2.3|join_guild|2018-07-26 22:39:...|
|   */*|    user2.att.com|ApacheBench/2.3|join_guild|2018-07-26 22:39:...|
|   */*|    user2.att.com|ApacheBench/2.3|join_guild|2018-07-26 22:39:...|
|   */*|    user2.att.com|ApacheBench/2.3|join_guild|2018-07-26 22:39:...|
|   */*|    user2.att.com|ApacheBench/2.3|join_guild|2018-07-26 22:39:...|
+------+-----------------+---------------+----------+--------------------+

In [10]:
joinguilds.registerTempTable('joinguilds')

In [11]:
joinguilds_example = spark.sql("select * from joinguilds where Host = 'user2.att.com'")

In [12]:
joinguilds_example.show()

+------+-------------+---------------+----------+--------------------+
|Accept|         Host|     User-Agent|event_type|           timestamp|
+------+-------------+---------------+----------+--------------------+
|   */*|user2.att.com|ApacheBench/2.3|join_guild|2018-07-26 22:39:...|
|   */*|user2.att.com|ApacheBench/2.3|join_guild|2018-07-26 22:39:...|
|   */*|user2.att.com|ApacheBench/2.3|join_guild|2018-07-26 22:39:...|
|   */*|user2.att.com|ApacheBench/2.3|join_guild|2018-07-26 22:39:...|
|   */*|user2.att.com|ApacheBench/2.3|join_guild|2018-07-26 22:39:...|
|   */*|user2.att.com|ApacheBench/2.3|join_guild|2018-07-26 22:39:...|
|   */*|user2.att.com|ApacheBench/2.3|join_guild|2018-07-26 22:39:...|
|   */*|user2.att.com|ApacheBench/2.3|join_guild|2018-07-26 22:39:...|
|   */*|user2.att.com|ApacheBench/2.3|join_guild|2018-07-26 22:39:...|
|   */*|user2.att.com|ApacheBench/2.3|join_guild|2018-07-26 22:39:...|
+------+-------------+---------------+----------+--------------------+

In [13]:
df2 = joinguilds_example.toPandas()

In [14]:
df2.describe()

,Accept,Host,User-Agent,event_type,timestamp
count,10,10,10,10,10
unique,1,1,1,1,10
top,*/*,user2.att.com,ApacheBench/2.3,join_guild,2018-07-26 22:39:13.545
freq,10,10,10,10,1